//Christine Johanson chjo2104  Miun Webbutveckling III - Projektuppgift 2022
//basic- variables, mixins, utility classes
//fonts
$mainfont: 'Fredoka One', Tahoma, sans-serif;
$subfont: 'Courgette', Georgia, serif;
$smalltext: Arial, Helvetica, sans-serif;

//colors
$beige: #efeae1;
$red: #e84719;
$green: #16753d;
$lightgreen: #b3cabde5;
$black: black;
